<ion-content class="pSimple-page">
  <div class="content-container">
    <h1 class="title">Introducir datos de frecuencia </h1>

    <div class="flex items-center space-x-2">
      <div class="container">

        <div class="input-group">
          <img src="/assets/icon/frequency.svg" alt="" class="freq-icon">
          <input type="number" class="frequency-input" placeholder="Densidad Vol." />
        </div>

        <div class="input-group">
          <img src="/assets/icon/frequency.svg" alt="" class="freq-icon">
          <input type="number" class="frequency-input" placeholder="Espesor" />
        </div>

        <div class="input-group">
          <img src="/assets/icon/frequency.svg" alt="" class="freq-icon">
          <input type="number" class="frequency-input" placeholder="Fact. amortiguamiento" />
        </div>

        <div class="input-group">
          <img src="/assets/icon/frequency.svg" alt="" class="freq-icon">
          <input type="number" class="frequency-input" placeholder="Coeficiente de Poisson" />
        </div>

        <div class="input-group">
          <img src="/assets/icon/frequency.svg" alt="" class="freq-icon">
          <input type="number" class="frequency-input" placeholder="Modulo de Young" />
        </div>

        <div class="input-group">
          <img src="/assets/icon/frequency.svg" alt="" class="freq-icon">
          <input type="number" class="frequency-input" placeholder="Velocidad del sonido" />
        </div>
      </div>

      <ion-button expand="block" shape="round" class="calculate-button">
        Calcular
      </ion-button>


    </div>
  </div>
</ion-content>