.pSimple-page {
    --background: #111827;
    --overflow: hidden;

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 8rem;
        align-items: center;
        animation: fade-in 1s ease-in;

        .title {
            font-size: 1.1rem;
            font-weight: bold;
            background: linear-gradient(to right, #22d3ee, #10b981);
            background-clip: text;
            color: transparent;
            text-align: center;
            margin-bottom: 20px;
        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            max-width: 500px;
            margin-bottom: 20px;
        }

        .input-group {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
        }

        .freq-icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        input.frequency-input {
            background: #2d3748;
            border: 1px solid #4a5568;
            color: #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 100%;
        }

        // input.frequency-input:focus {
        //     outline: none;
        //     box-shadow: 0 0 0 2px #22d3ee;
        //     border: 1px solid #22d3ee;
        //     transition: ease-in .1s;
        // }

        ion-button.calculate-button {
            --background: linear-gradient(to right, #22d3ee, #10b981);
            --color: white;
            --border-radius: 10px;
            --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            --padding-start: 24px;
            --padding-end: 24px;
            --min-height: 50px;
            --background-activated: #88f4be;
        }


    }

    ion-modal {
        --background: #111827;
    }
}

// @keyframes fade-in {
//     0% {
//         opacity: 0;
//     }
//
//     100% {
//         opacity: 1;
//     }
// }