.pSimple-page {
    --background: #22272B;

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        align-items: center;
        animation: fade-in 1s ease-in;


        .title {
            font-size: 1.2rem;
            font-weight: bolder;
            color: white;
            text-align: center;
            margin-bottom: 20px;
        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            max-width: 500px;
            margin-bottom: 20px;

        }

        .input-group {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            width: 100%;
        }

        label {
            color: white;
        }

        input.frequency-input {
            background: #282d35;
            border: 1px solid #4a5568;
            color: #ffffff;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 300px;

        }

        input.frequency-input:focus {
            outline: none;
            box-shadow: 0 0 0 2px #d6dcdd;
            border: 1px solid #d3e6e9;
            transition: ease-in .1s;
        }

        ion-button.calculate-button {
            --background: rgb(0, 0, 0);
            --color: white;
            --border-radius: 10px;
            --box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
            --padding-start: 24px;
            --padding-end: 24px;
            --min-height: 50px;
            --background-activated: #ffffff;
            --color-activated: black
        }


    }

}


// @keyframes fade-in {
//     0% {
//         opacity: 0;
//     }
//
//     100% {
//         opacity: 1;
//     }
// }