/* Estilos Globales o de la Página */

.welcome-page {
    --background: #111827;
    --overflow: hidden;

    .content-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        animation: fade-in 1s ease-in;

        .icon {
            width: 3rem;
            height: 3rem;
            margin-bottom: 20px;
            background: linear-gradient(to right, #22d3ee, #10b981);
            -webkit-mask-image: url('/assets/icon/headset.svg');
            mask-image: url('/assets/icon/headset.svg');
            mask-size: contain;
            -webkit-mask-size: contain;
        }

        .title {
            font-size: 2.5rem;
            font-weight: bold;
            background: linear-gradient(to right, #22d3ee, #10b981);
            background-clip: text;
            color: transparent;
            text-align: center;
            margin-bottom: 20px;
        }

        .description {
            color: #e4e4e7;
            max-width: 24rem;
            text-align: center;
            margin: 0 auto 20px;
        }

        ion-button.start-button {
            --background: linear-gradient(to right, #22d3ee, #10b981);
            --color: white;
            --border-radius: 50px;
            --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            --padding-start: 24px;
            --padding-end: 24px;
            --min-height: 50px;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}