.welcome-page {
    --background: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Asegura espacio entre los elementos */
    align-items: center;
    font-family: 'Roboto Condensed Variable', sans-serif;
    --overflow: hidden;
    padding: 0;
    /* Opcional: eliminar padding */
    margin: 0;

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* Centra el ícono */
            height: 10rem;
        }

        .sound-logo {
            position: absolute;
            bottom: 1rem;
            /* Ajusta la distancia al borde inferior */
            left: 50%;
            transform: translateX(-50%);
            /* Centra horizontalmente */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .text {
            height: 5rem;
            margin-bottom: -20px;
        }

        .description {
            color: white;
            font-size: 1.5rem;
            font-weight: 100;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}